/* CustomizationPage.scss 

.customization-page {
  padding: 30px;

  h1 {
    font-size: 4rem;
    color: var(--main-color-2);
    margin-bottom: 20px;
  }

  .options-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 20px;
  }

  .total-price {
    font-size: 24px;
    margin-top: 20px;
    color: #333; // Example color
  }

  .component {
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 20px;
    background-color: #f9f9f9;

    select {
      width: 100%;
      padding: 10px;
      border: 1px solid #ccc;
      border-radius: 5px;
    }

    h2 {
      font-size: 20px;
      margin-bottom: 10px;
    }
  }
}
*/

.customization-page {
  padding: 50px;
  max-width: 1000px; // Adjust as needed
  margin: 0 auto;
  

  h1 {
    font-size: 3rem;
    margin-bottom: 20px;
    color: var(--main-color-2);
  }

  .options-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 20px;
  }

  .total-price {
    font-size: 18px;
    margin-top: 20px;
  }

  .prod_details_buy_btn {
    margin-top: 20px;

    p {
      font-size: 16px;
      line-height: 1.5;
      color: white;
    }

    .btn {
      padding: 10px 20px;
      background-color: var(--main-color-2);
      color: #fff;
      border: none;
      border-radius: 5px;
      font-size: 16px;
      cursor: pointer;
      transition: background-color 0.3s;

      &:hover {
        background-color: #0056b3;
      }
    }
  }
}



