// GPUSelector.scss

.selector {
    margin-bottom: 20px;
  
    h2 {
      font-size: 20px;
      margin-bottom: 10px;
    }
  
    select {
      width: 100%;
      padding: 10px;
      border: 1px solid #ccc;
      border-radius: 5px;
      font-size: 16px;
    }
  
    // Style the selected GPU container
    .selected-gpu {
      margin-top: 20px;
  
      h3 {
        font-size: 18px;
        margin-bottom: 10px;
      }
  
      img {
        max-width: 100%;
        height: auto;
        margin-bottom: 10px;
        border-radius: 5px;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
      }
  
      p {
        font-size: 16px;
      }
    }
  }
  